@import url(
"https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
background-color: #FFF1F1;
max-width: 100%;
overflow-x: hidden;
}
.main {
height: calc(100vh - 70px);
width: 100%;
overflow-y: scroll;
overflow-x: hidden;
padding: 40px 30px 30px 30px;
}
.main::-webkit-scrollbar-thumb {
background-image:
		linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}
.main::-webkit-scrollbar {
width: 5px;
}
.main::-webkit-scrollbar-track {
background-color: #FFF1F1;
}
.box-container {
background-color: #FFF1F1;
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
gap: 50px;
}
.box {
background-color: white;
height: 150px;
width: 250px;
border-radius: 20px;
box-shadow: 1px 1px 5px #785C6F;
padding: 20px;
display: flex;
align-items: center;
justify-content: space-around;
cursor: pointer;
transition: transform 0.3s ease-in-out;
}
.box:hover {
transform: scale(1.08);
}
.box:nth-child(1) {
background-color: var(--one-use-color);
}
.box:nth-child(2) {
background-color: var(--two-use-color);
}
.box:nth-child(3) {
background-color: var(--one-use-color);
}
.box:nth-child(4) {
background-color: var(--two-use-color);
}
.box img {
height: 140px;
width: 140px;
}
.box .text {
color: black;
}
.topic-heading {
color: #EF35B0;
text-align: left;
font-size: 20px;
font-family: 'Archivo', sans-serif;
font-style: Noto Sans Korean;
}
.topic {
color: black;
text-align: left;
font-size: 15px;
font-family: 'Archivo', sans-serif;
font-style: Noto Sans Korean;
}
.b1 {
	background-color: white;
}