.main {
    background-color: #FFF1F1;
    height: 100vh;
   
}
.h {
    padding: 30px;
    color: #EF35B0;
    font-family: Noto Sans KR;
    font-weight: bold;
}

/* .frm {
    margin-left: 20px;
} */

.lbl {
    color: #EF35B0;
    font-weight: bold;
    
}

.b {
	background-color: white;
	font-family: Noto sans KR;
	border: none;
	border-radius: 30px;
	box-shadow: 0px 0px 10px;
	width: 100px;
	font-weight: bold;
 }
 .rmv-btn{
    background-color: white;
	font-family: Noto sans KR;
	border: none;
	border-radius: 30px;
    color:red;
	width: 100px;
	font-weight: bold;
 }
 .update-btn{
    background-color: white;
	font-family: Noto sans KR;
	border: none;
	border-radius: 30px;
    color:green;
	width: 100px;
	font-weight: bold;
 }