.main {
    background-color: #FFF1F1;
    height: 100vh;
}
.h2 {
    margin: 10px;
    margin-top: 20px;
    margin-left: 20px;
    color: #EF35B0;
    font-family: Noto Sans KR;
}
.title {
    color: #EF35B0;
    margin-left: 40px;
    margin-top: 20px;
    font-family: Noto Sans KR;
}